#streams {
  background-color: #ffebf6;
  border-width: 1px;
}

body {
  font-family: sans-serif;
  background-color: pink;
}

#streamsText {
  font-weight: 400;
}

#submit {
  background-color: pink;
  border-radius: 10px;
  align: left;
}

#header {
  margin-top: 40px;
}

.container {
  padding: 20px;
  margin: 30px;
}

#inputs {
  padding: 20px;
}

#inputs {
  padding: 20px;
  /*   margin-left:; */
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 300;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
}

input {
  /*   padding:5px; */
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;

  /*   font-weight: bold; */
}

.floated {
  width: 50%;
  float: left;
}

.output {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  border-style: solid;
  margin-bottom: 20px;
  background-color: paleGreen;
  border-radius: 10px;
  /*   margin-top: 40px;
  margin-bottom:10px; */
}

#submit {
  border-width: 1px;
}
